/* definicao de fontes */
@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* Reset */
*{
    margin: 0%;
    padding: 0%;
}

/* estilo desktop */
header img{
    display: block;
    margin: 75px 0 0 360px;
}


  a{
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    display: block;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 48px;
    padding-left: 48px;
    border-radius: 36px;
    /* display: inline-block; */
    margin: 40px auto;

}
a:hover{
    background-color: #8233E8
}

body{
    background-color: #0E1014;
}
h1 span{
    color: #9747FF;
}
h1{
    color:#FFFFFF ;
    font-size: 64px;
    font-family: "Unbounded", sans-serif;
    /* font-family: serif; */
    /* font-family: sans-serif; */
    /* font-family: monospace; */
    /* font-family: cursive; */
    /* font-family: fantasy; */
    text-align: center;
    margin-top: 60px;
    
}
p{
    color: #FFFFFF;
    font-family: "Poppins", sans-serif  ;
    font-size: 24px;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;

}
section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}
/* Tablet */
@media(max-width: 768px){
    
  header img{
    margin: 65px 0 0 60px;
  }
  p{
    width: 648px;
  }

}

@media(max-width: 375){
    header img{
        margin: 32px 0 0 16;
    }
    h1{
        font-size: 40px;
    }
    p{
        width: 341px;
        font-size: 20px;
    }
    a{
        font-size: 20px;
        width: 251px;
    }
    section img{
        width: 340px;
        height: 230px;
    }
    

}

